{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalnia:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>Finance Manager</title>
  </head>
  <body class="body" id="body">
    <div class="two-blocks" id="two-blocks">
      <div class="inside-two" id="inside-two">
        <div
          class="dig-deeper"
          id="dig-deeper"
          onclick="window.location.href = '/graphs';"
        >
          REPORTS
        </div>
        <div
          class="good-enough"
          id="good-enough"
          onclick="window.location.href = 'https://docs.google.com/spreadsheets/d/1hjvKRcpmsiKa1v-4rOwRFnYqBmzub5abgiasBo12V6s/edit#gid=791928584';"
        >
          DATA
        </div>
      </div>
    </div>
    <div class="project">
      <div class="project-name" id="project-name">FM</div>
      <div class="project-description">FINANCE MANAGER</div>
    </div>

    <script>
      setTimeout(function () {
        var mychild = window.open("http://127.0.0.1:8000/default", "Default");
        mychild.blur();
        this.window.focus();
      }, 1000);
      setTimeout(function () {
        var body = document.getElementById("body");
        body.classList.add("red-yellow");
        setTimeout(function () {
          var extractText = document.getElementById("project-name");
          extractText.classList.remove("project-name");
          extractText.classList.add("remove");
          extractText.innerText = "EXTRACTING";
          //extractText.classList.add("project-extracting");
        }, 2000);
      }, 5000);
      //sleep(5000);
      setTimeout(function () {
        var body = document.getElementById("body");
        body.classList.remove("red-yellow");
        body.classList.add("yellow-green");
        setTimeout(function () {
          var extractText = document.getElementById("project-name");
          extractText.classList.remove("remove");
          extractText.classList.add("remove2");
          extractText.innerText = "SUCCESS";
          //extractText.classList.add("project-extracting");
        }, 2000);
      }, 10000);
      setTimeout(function () {
        var twoblocks = document.getElementById("two-blocks");
        twoblocks.classList.add("two-blocks-later");
        var goodenough = document.getElementById("good-enough");
        goodenough.classList.add("good-enough-later");
        var digdeeper = document.getElementById("dig-deeper");
        digdeeper.classList.add("dig-deeper-later");
      }, 15000);
    </script>
  </body>
</html>
